@model List<ConferenceRoomBookings.Entities.UnavailabilityPeriod>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create">Create</a>
</p>

<h4>UnavalabilityPeriod</h4>
<hr />
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
            
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="CreateBook" asp-route-id="@item.Id">Book</a>
                </td>
            </tr>
        }
    </tbody>
</table>
